<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LAZYSHELL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LAZYSHELL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <LAZYSHELL.Properties.Settings>
      <setting name="AllyEquipment" serializeAs="String">
        <value>FFFFFFFFFFFFFFFFFFFFFFFFFFFFFF</value>
      </setting>
      <setting name="BackupROMDirectory" serializeAs="String">
        <value/>
      </setting>
      <setting name="CreateBackupROM" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CreateBackupROMSave" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDebug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FirstLoad" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="History" serializeAs="String">
        <value/>
      </setting>
      <setting name="LastAnimation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastAnimationCat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastAttack" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastAudioSample" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastBattleDialogue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastBattlefield" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastDialogue" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastDirectory" serializeAs="String">
        <value>"C:\\"</value>
      </setting>
      <setting name="LastEffect" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastEventScript" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastEventScriptCat" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastFormation" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastFormationPack" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastItem" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastLevel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastMineCart" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastMonster" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastRomPath" serializeAs="String">
        <value>"C:\\"</value>
      </setting>
      <setting name="LastSoundType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastSPC" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastSpell" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastSprite" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LoadAllData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LoadLastUsedROM" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoadNotes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NotePathCustom" serializeAs="String">
        <value/>
      </setting>
      <setting name="PatchServerURL" serializeAs="String">
        <value>http://home.comcast.net/~giangurgolo/patches/</value>
      </setting>
      <setting name="PreviewAllies" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PreviewArguments" serializeAs="String">
        <value>-m -zs 0 -v 2</value>
      </setting>
      <setting name="PreviewBattlefield" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PreviewDynamicRomName" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreviewFirstTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreviewLevel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PreviewMaxStats" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RememberLastIndex" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowEncryptionWarnings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UndoStackSize" serializeAs="String">
        <value>65535</value>
      </setting>
      <setting name="UnverifiedRomWarning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="VisualThemeSystem" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ZSNESPath" serializeAs="String">
        <value/>
      </setting>
    </LAZYSHELL.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <LAZYSHELL.Properties.Settings>
      <setting name="PreviewArgsDefault" serializeAs="String">
        <value>-m -zs 0 -v 2</value>
      </setting>
    </LAZYSHELL.Properties.Settings>
  </applicationSettings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
